source ~/vim_config/vim_bindings.conf
source ~/vim_config/vim_bindings_mail.conf
source ~/vim_config/vundle_plugins.conf
source ~/vim_config/vim_python.conf

" MISC "
" set relativenumber
set number
syntax on
set visualbell
set t_vb=
set clipboard=unnamedplus
au BufNewFile,BufRead vim*.conf,*.rc set filetype=vim
au BufNewFile,BufRead vundle*.conf set filetype=vim
set splitbelow
set splitright
set backspace=2 
set enc=utf-8
set termguicolors
" set t_Co=888
set wildmenu

" Add format option 'w' to add trailing white space, indicating that paragraph
" continues on next line. This is to be used with mutt's 'text_flowed' option.
augroup mail_trailing_whitespace " {
    autocmd!
    autocmd FileType mail setlocal formatoptions+=w
augroup END " }
