source ~/vim_config/vim_bindings.conf
source ~/vim_config/vundle_plugins.conf
source ~/vim_config/vim_python.conf

" MISC "
" set relativenumber
set number
syntax on
set visualbell
set t_vb=
set clipboard=unnamedplus
au BufNewFile,BufRead vim*.conf,*.rc set filetype=vim
au BufNewFile,BufRead vundle*.conf set filetype=vim
set splitbelow
set splitright
set backspace=2 
set enc=utf-8

" Find options "
set path+=**
set wildmenu
